/* Make checkboxes bigger */
input.checkbox  {
    width: 40px;
    height: 40px;
}

input.date {
  width: 12em;
}

.fa-plus {
  color:#007bff;
}

#plusbutton {
  top: 15px;
}

#status {
  width: 10em;
}