body{
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background-repeat: no-repeat;
}

#arrow{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
#arrow{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

input.date {
  width: 12em;
}

.fa-plus {
  color:#9890e3;
}
.fa-arrow-left{
  color:#9890e3;
  font-size: 50px;
}

#plusbutton {
  top: 15px;
}

#status {
  width: 10em;
}

.btn{
  max-height: 40px;
  opacity: .9;
}
#submit{
  background-color: #9890e3;
  color: white;
}
.col-form-label{
  text-align: right;
}
