body{
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  background-repeat: no-repeat;
}

input.date {
  width: 12em;
}

.fa-plus {
  color:#9890e3;
}

#plusbutton {
  top: 15px;
}

#status {
  width: 10em;
}

.btn{
  max-height: 40px;
  opacity: .9;
}
#submit{
  background-color: #9890e3;
  color: white;
}
.col-form-label{
  text-align: right;
}